
@{
    ViewData["Title"] = "Index";
}

<button type="button" asp-controller="Ticket" asp-action="GetTicket" class="btn btn-warning" style="width:100%; margin-left:0; padding: 0"><a class="nav-link text-danger fs-2 text-start fw-bold" asp-area="" asp-controller="Ticket" asp-action="GetTicket">Get Ticket List /api/QuanLyDatVe/LayDanhSachPhongVe</a></button>


