@model TrunkeyWebApp.Models.Phim

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Phim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaPhim" />
            <div class="form-group">
                <label asp-for="TenPhim" class="control-label"></label>
                <input asp-for="TenPhim" class="form-control" />
                <span asp-validation-for="TenPhim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiDanh" class="control-label"></label>
                <input asp-for="BiDanh" class="form-control" />
                <span asp-validation-for="BiDanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailer" class="control-label"></label>
                <input asp-for="Trailer" class="form-control" />
                <span asp-validation-for="Trailer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label"></label>
                <input asp-for="HinhAnh" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNhom" class="control-label"></label>
                <input asp-for="MaNhom" class="form-control" />
                <span asp-validation-for="MaNhom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKhoiChieu" class="control-label"></label>
                <input asp-for="NgayKhoiChieu" class="form-control" />
                <span asp-validation-for="NgayKhoiChieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DanhGia" class="control-label"></label>
                <input asp-for="DanhGia" class="form-control" />
                <span asp-validation-for="DanhGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hot" class="control-label"></label>
                <input asp-for="Hot" class="form-control" />
                <span asp-validation-for="Hot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DangChieu" class="control-label"></label>
                <input asp-for="DangChieu" class="form-control" />
                <span asp-validation-for="DangChieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SapChieu" class="control-label"></label>
                <input asp-for="SapChieu" class="form-control" />
                <span asp-validation-for="SapChieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
