@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">API Movie With ASP.NET</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	@if (ViewData["msg"] != null)
	{
		<div class="custom-alert-01 alert alert-danger alert-dismissible fade show" role="alert">
		<p>@if (ViewData["msg"] != null) @ViewData["msg"]</p>
		<p>@if (ViewData["msg2"] != null) @ViewData["msg2"]</p>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}
</div>
