<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TrunkeyWebApp</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/TrunkeyWebApp.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid" style="width: 100%">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TrunkeyWebApp</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-xxl-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark custom-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark custom-text" asp-area="" asp-controller="Banners" asp-action="Index">Banners</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark custom-text" asp-area="" asp-controller="CumRaps" asp-action="Index">Cụm Rạp</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark custom-text" asp-area="" asp-controller="Ghes" asp-action="Index">Ghế</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark custom-text" asp-area="" asp-controller="HeThongRaps" asp-action="Index">Hệ Thống Rạp</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark custom-text" asp-area="" asp-controller="LichChieu" asp-action="Index">Lịch Chiếu</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark custom-text" asp-area="" asp-controller="LoaiNguoiDungs" asp-action="Index">Loại Người Dùng</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark custom-text" asp-area="" asp-controller="Phims" asp-action="Index">Phim</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark custom-text" asp-area="" asp-controller="Raps" asp-action="Index">Rạp</a>
						</li>
						@if (ViewData["validated"] == "true")
						{
							<li class="custom-identity btn nav-item ms-lg-auto">
								Xin chào @ViewData["nguoiDung"]
								<a asp-controller="Cookies" asp-action="ClearCookies">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16"%>'" >
									<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
									<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
								</svg>
								</a>
							</li>
						}
						else
						{
							<li class="nav-item ms-lg-auto">
								@await Html.PartialAsync("_SignUp", new TrunkeyWebApp.Models.ViewNguoiDungDangKy())
							</li>
							<li class="nav-item ms-lg-1">
								@await Html.PartialAsync("_SignIn", new TrunkeyWebApp.Models.ViewNguoiDungDangNhap())
							</li>
						}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container" style="width:95vw; margin-left: auto; padding: 0">
		<main role="main">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022 - TrunkeyWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
